PORT=9001
MONGO_URL=mongodb://127.0.0.1:27017/lms-db
NODE_ENV=sample

JWT_SECRET=sample
JWT_EXPIRESIN=1d

REFRESH_JWT_SECRET = sample
REFRESH_JWT_EXPIRESIN = 15d


### smtp variables
SMTP_HOST = sample
SMTP_PORT = sample
SMTP_SECURE = sample
SMTP_USER = sample
SMTP_PASS = sample
